body{
  font-size: 190%;
  font-family: 'Kanit', sans-serif;
  background-color: rgb(52, 94, 63);
}

*{
  margin: 0;
  padding: 0;
}

/* Alla listor */
li{
  list-style-type:none;
}

/* Alla länkar */
a:link{
  text-decoration: none;
}

/* H1 - bild på loggan*/
#logga{
justify-self:center;
margin-bottom: 2%;
}

/*Navigationbar*/
#home, #seasons, #characters, #streaming{
  background-color: rgb(31, 24, 24);
  align-items: center;
  position: sticky;/* Menyn kommer att följa med när man scrollar förbi menyn*/
  top: 0;
  font-size: 100%;
  font-weight:normal;
}

/* Style på länkar (färg, storlek)*/
.lankdesign a:link, a:visited {
  color: white;
  padding:5% 8%;
  text-align: center;
  display: inline-block;
}

/* Ändrar färg när du håller musen över länken*/
.lankdesign a:hover, a:active {
  background-color: black;
  padding:5% 8%;
  border-radius: 20%; /* Länkens kanter blir rundade*/
}

/* Bild med kort info om serien över*/
#signaturbild{
  width: 100%;
  margin-top: -5%;
}

.textpabild{
  font-weight: bold; /* Texten är i fetstil*/
  color: black;
  justify-self: center;
}

.infolist{ /* Lista med info över bild */
  background: rgba(255, 255, 255, 0.5); /* Bakgrunden är genomskinlig men inte texten*/
  border-radius: 5%; /* Textens bakgrund är lite rundad i kanterna*/
  text-align: center;
  margin: 10% 0% 6% 0%;
  padding:15px 50px;
}

.design a:link{ /* Länken i texten över bilden */
  background-color: black;
  color: white;
  padding: 3%;
  border-radius: 5%; /* Länkens bakgrund är lite rundad i kanterna*/
}

.design a:hover, a:active{ /* Länken i texten över bilden *//* Länkens bakgrund blir grön när man håller musen över den*/
  background-color: rgb(35, 47, 32);
}


/* Bildstorlekar och mellanrum mellan reviewerna och bilderna*/
.image1, .image2{
  width: 95%;
  justify-self: center;
}

.review1, .image1{
  margin-top: 25%;
}

.review2, .image2{
  margin-bottom: 25%;
}

.review1, .review2, .streaming{
  text-align: center;
  align-self: center;
  padding: 8%;
  font-weight: bold;
}

.streamingtext{
  margin-bottom:5%;
}

.image3{
  width: 80%;
  justify-self:center;
}

.lastimage{
  width:100%;
  margin-top: 15%;
}

/* Teaser/Seasons / Characters*/

.seasons, .characters{
  background-color: black;
  border-radius: 8%; /* Menyns bakgrund blir rundad i kanterna */
  position: sticky;/* Menyn kommer att följa med när man scrollar förbi menyn*/
  top: 20%;
  justify-self: center;
  text-align: center;
  align-self: center;
  padding: 5% 8%;
}

.lank a:link{
  color: white;
  background-color: black;
  border-radius: 8%; /* Menyns bakgrund blir rundad i kanterna */
}

.lank a:hover, a:active{ /* Länkar i menyn till seasons och characters */
  background-color: rgb(35, 47, 32);
  border-radius: 8%; /* Menyns bakgrund blir rundad i kanterna */
  justify-self: center;
}

.title{
  margin-top:5%;
}

.left{
  width: 70%;
  margin: 5% 0% 5% 0%;
}

@media only screen and (max-width: 480px) {/* FÖr mobil */
  *{
    font-size: 89%;
  }

  #signaturbild{
    height: 120%;
  }

  .image1, .lastimage{
    margin-top: 20%;
  }

  .review2, .image2{
    margin-bottom: 10%;
  }

  .review1{
    margin:5% 0%;
  }

  h1.title{
    font-size: 150%;
  }

  .left{
    width:95%;
  }

  .left, .right{
    justify-self: center;
  }

  .seasons, .characters{
    margin-right: 5%;
  }
}
