body{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  background-color: rgb(52, 94, 63);
}

/* Alla listor */
li{
  list-style-type:none;
}

/* Alla länkar */
a:link{
  text-decoration: none;
}

/* H1 - bild på loggan*/
#logga{
justify-self:center;
}

/*Navigationbar*/
#home, #seasons, #characters, #streaming{
  background-color: rgb(31, 24, 24);
  align-items: center;
  position: sticky;/* Menyn kommer att följa med när man scrollar förbi menyn*/
  top: 0;
  font-size: 30px;
  font-weight:normal;
}

/* Style på länkar (färg, storlek)*/
.länkdesign a:link, a:visited {
  color: white;
  padding:14px 25px;
  text-align: center;
  display: inline-block;
}

/* Ändrar färg när du håller musen över länken*/
.länkdesign a:hover, a:active {
  background-color: black;
  padding:14px 25px;
  border-radius: 15px; /* Länkens kanter blir rundade*/
}

/* Bild med kort info om serien över*/
#signaturbild{
  width: 100%;
  margin-top: -30px;
}

.textpåbild{
  font-weight: bold; /* Texten är i fetstil*/
  color: black;
  justify-self:center;
}

.infolist{ /* Lista med info över bild */
  background: rgba(255, 255, 255, 0.5); /* Bakgrunden är genomskinlig men inte texten*/
  border-radius: 8px; /* Textens bakgrund är lite rundad i kanterna*/
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.design a:link{ /* LÄnken i texten över bilden */
  background-color: black;
  color: white;
  padding: 15px 32px;
  border-radius: 8px; /* Länkens bakgrund är lite rundad i kanterna*/
}

.design a:hover, a:active{ /* Länken i texten över bilden *//* Länkens bakgrund blir grön när man håller musen över den*/
  background-color: rgb(35, 47, 32);
}


/* Bildstorlekar och mellanrum mellan reviewerna och bilderna*/
.image1, .image2{
  width: 95%;
  justify-self: center;
}

.review1, .image1{
  margin-top: 150px;
}

.review2, .image2{
  margin-bottom: 150px;
}

.review1, .review2, .streaming{
  text-align: center;
  align-self: center;
  padding: 10px;
  font-weight: bold;
}

.image3{
  width: 80%;
  justify-self:center;
}

.lastimage{
  width:100%;
  margin-top: 150px;
}

/* Teaser/Seasons / Characters*/

.seasons, .characters{
  background-color: black;
  border-radius: 8px; /* Menyns bakgrund blir rundad i kanterna */
  position: sticky;/* Menyn kommer att följa med när man scrollar förbi menyn*/
  top: 100px;
  justify-self: center;
  text-align: center;
  align-self: center;
  padding: 14px 25px;
}

.länk a:link{
  color: white;
  background-color: black;
  border-radius: 8px; /* Menyns bakgrund blir rundad i kanterna */
}

.länk a:hover, a:active{ /* Länkar i menyn till seasons och characters */
  background-color: rgb(35, 47, 32);
  border-radius: 8px; /* Menyns bakgrund blir rundad i kanterna */
  justify-self: center;
}

.left{
  width: 70%;
}

@media only screen and (max-width: 480px) {/* FÖr mobil */
  *{
    font-size: 20px;
  }

  #signaturbild{
    height: 320px;
  }

  .review1, .image1, .lastimage{
    margin-top: 50px;
  }

  .review2, .image2{
    margin-bottom: 50px;
  }

  h1.teaser{
    font-size: 30px;
  }

  .left{
    width:95%;
  }

  .left, .right{
    justify-self: center;
  }

  .seasons, .characters{
    margin-right: 10px;
  }
}
